:root {
	--white:			hsl(0, 0%, 90%);

	--ultra-light-blue:	#2c70b5;
	--blue:			hsl(209, 80%, 12%);
	--dark-blue:	hsl(223, 67%, 7%);
	--light-blue:	hsl(210, 78%, 16%);

	--gold:			hsl(39, 45%, 62%);

}

* {
	font-family: Roboto;

	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}

body, html {
	color: var(--white);
	background-color: var(--dark-blue);
}

div#root {
	height: 100vh;

	position: relative;
}
